$grey: #eeeeee;
$wp_blue: #0085ba;
$white: #ffffff;
$red: #CE3426;
$red_hover: #D55246;

.clearfix {
	clear: both;
}


/* Material icons */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/material-icons-3.0.1.woff2') format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}


/* Meta Box */

body.post-type-auretto_email_editor {
	#auretto_email_editor_settings_metabox {
		.inside {

			.content-wrapper,
			.menu-section {
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin: 15px 0;
			}

			.menu-section {
				ul {
					padding: 0 20px 0 0;
					margin: 0;

					li {
						border: 1px solid $grey;
						padding: 5px;
						margin: 8px 0;
						font-size: 12px;
						cursor: pointer;
						width: 100%;
						-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-ms-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;

						&.active,
						&:hover {
							background: $wp_blue;
							color: $white;
							border-color: $wp_blue;
						}

						&:first-of-type {
							margin-top: 0;
						}

						span,
						i {
							display: inline-block;
							vertical-align: middle;
						}
						i {
							font-size: 18px;
							margin-right: 5px;
						}
					}
				}
			}

			.content-wrapper {
				width: 79%;
				border-left: 1px solid $grey;
				padding-left: 20px;
				-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

				.content-section {
					display: block;
					width: 100%;

					h4  {
						margin-top: 0;
						margin-bottom: 30px;
					}

					.upload-box {
						span, div {
							display: inline-block;
							vertical-align: initial;
						}
						div {
							vertical-align: sub;
						}
					}

					&:not(.active) {
						display: none;
					}

					&.sender_settings,
					&.template_settings,
					&.send_email {
						input:not([type="submit"]) {
							width: 100%;
							padding: 3px 8px;
							font-size: 16px;
							line-height: 1.4;
							outline: 0;
							margin: 10px 0;
							display: block;
						}
					}

					.all_media_files_sizes {
						margin: 25px 0 15px 0;

						&:empty {
							display: none;
						}
					}

					ul.media_files {
						float: left;
						width: 100%;
						margin-top: 0;

						li {
							border: 1px solid $grey;
							padding: 5px 10px;
							width: 100%;
							display: block;
							float: left;
							-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

							&.sample {
								display: none;
							}

							a {
								float: left;
								text-decoration: none;
							}

							div.remove_btn {
								float: right;
								cursor: pointer;
								color: $red;
							}

							&:hover {
								background: $wp_blue;
								a {
									color: $white;
								}
								.remove_btn {
									color: $white;
								}
							}

						}
					}

					table {
						&.template_datas {
							border-collapse: collapse;
							width: 100%;
							border-left: 1px solid $grey;
							th {
								text-align: left;
								width: 25%;
							}
							td {
								width: 75%;
								word-wrap: break-word;
								white-space: pre-line;
								max-width: 50vh;
							}
							th,td {
								border: 1px solid $grey;
								border-left: none;
								padding: 5px 10px;
							}
						}

						&.sent_emails_log {
							border-collapse: collapse;
							table-layout: fixed;
							width: 100%;
							border-left: 1px solid $grey;

							tr[data-ready="false"] {
								th, td {
									background: rgba($red, 0.5);
									color: $white;
								}
							}

							tr {
								th,td {
									text-align: center;
									border: 1px solid $grey;
									border-left: none;
									padding: 5px 10px;
									word-wrap: break-word;
								}
							}
						}

						&.sent_emails_log.sent_emails_error_log {

						}

					}

					&.sender_settings {

						.cc-input-fields {
							border-top: 1px solid $grey;
							display: block;
							margin-top: 20px;
							padding-top: 15px;

							h4 {
								margin-bottom: 0;
							}

							button.cc-add-more-btn {
								margin-top: 5px;
								.dashicons {
									vertical-align: middle;
								}
							}

							.cc-input-field {
								float: left;
								width: 100%;
								padding: 10px 0;
								border-bottom: 1px solid $grey;

								input {
									width: 90%;
									float: left;
									margin: 5px 0;
								}
								div.remove_btn {
									float: right;
									width: 9.5%;
									margin: -9px 0 0 0;
									cursor: pointer;
									color: $red;
								}

								&:first-of-type {
									div.remove_btn {
										display: none;
									}
								}
								&:last-of-type {
									border-bottom: none;
								}
							}
						}
					}

					&.template_settings {
						.checkbox-form {
							display: none;
							margin-top: 15px;

							input, label {
								display: inline-block;
								vertical-align: middle;
								width: auto;
							}
							label {
								margin-left: 5px;
							}
						}
					}

				}

				&.is_woocommerce_active {
					.checkbox-form {
						display: block !important;
					}
				}

			}
		}

	}
	#aee_inputs {
	  margin: 15px 0 0 0;
	  input {
	    padding: 3px 8px;
	    font-size: 1.7em;
	    line-height: 100%;
	    height: 1.7em;
	    width: 100%;
	    outline: 0;
	    margin: 5px 0;
	    background-color: #fff;
	  }
	}
}


/* Settings Page */

body.auretto_email_editor_page_default-email-template-editor-page {
	.wrap.inside {
		background: $white;
		padding: 15px;

		h2 {
			padding: 0;
			margin: 0;
		}

		hr {
			float: left;
			width: 100%;
		}

		form {
			width: 100%;
			max-width: 1000px;

			.content-wrapper,
			.menu-section {
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin: 15px 0;
			}

			.menu-section {
				ul {
					padding: 0 20px 0 0;
					margin: 0;

					li {
						border: 1px solid $grey;
						padding: 5px;
						margin: 8px 0;
						font-size: 12px;
						cursor: pointer;
						width: 100%;
						-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-ms-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;

						&.active,
						&:hover {
							background: $wp_blue;
							color: $white;
							border-color: $wp_blue;
						}

						&:first-of-type {
							margin-top: 0;
						}

						span,
						i {
							display: inline-block;
							vertical-align: middle;
						}
						i {
							font-size: 18px;
							margin-right: 5px;
						}
					}
				}

				input[type="submit"] {
					margin-top: 20px;
					display: block;
					width: calc(100% - 20px);
				}
			}

			.content-wrapper {
				width: 79%;
				border-left: 1px solid $grey;
				padding-left: 20px;
				-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

				.content-section {
					display: block;
					width: 100%;

					h4  {
						margin-top: 0;
						margin-bottom: 30px;
					}

					&:not(.active) {
						display: none;
					}

					h3 {
						margin-top: 10px;
					}
					input:not([type="submit"]) {
						display: block;
						margin: 8px 0;
						width: 100%;
					}

					.radio-form {
						div {
							float: left;
							width: 60px;
							text-align: center;
							line-height: 1.2;
							input {
								width: auto;
								text-align: center;
								margin: 0 auto;
							}
							label {
								margin-top: 6px;
								display: block;
							}
						}
					}

					.cc-input-fields {
						border-top: 1px solid $grey;
						display: block;
						margin-top: 20px;
						padding-top: 15px;

						h4 {
							margin-bottom: 0;
						}

						button.cc-add-more-btn {
							margin-top: 5px;
							.dashicons {
								vertical-align: middle;
							}
						}

						.cc-input-field {
							float: left;
							width: 100%;
							padding: 10px 0;
							border-bottom: 1px solid $grey;

							input {
								width: 90%;
								float: left;
								margin: 5px 0;
							}
							div.remove_btn {
								float: right;
								width: 9.5%;
								margin: -9px 0 0 0;
								cursor: pointer;
								color: $red;
							}

							&:first-of-type {
								div.remove_btn {
									display: none;
								}
							}
							&:last-of-type {
								border-bottom: none;
							}
						}
					}

					&.import_datas_from_previous_plugin_version {
						table {
							border-collapse: collapse;
							width: 100%;
							border-left: 1px solid $grey;
							th {
								text-align: left;
								width: 25%;
							}
							td {
								width: 75%;
								word-wrap: break-word;
								white-space: pre-line;
								max-width: 50vh;
							}
							th,td {
								border: 1px solid $grey;
								border-left: none;
								padding: 5px 10px;
							}
						}
					}

					&.smtp_settings {
						label {
							margin: 15px 0 0 0;
							display: block;
						}

						.checkbox-form {
							margin: 0 0 20px 0;
					    display: block;
							label,
							input {
								width: auto;
								display: inline-block;
							}
							label {
								margin-top: 0;
								margin-left: 5px;
							}
						}

						.radio-form {
							margin: 0 0 20px 0;
					    display: block;
							float: left;
							width: 100%;

							label {
								display: block;
								margin: 15px 0 10px 0;
							}

							div {
								label,
								input {
									width: auto;
									display: inline-block;
								}
								label {
									margin: 0 10px 0 5px;
								}
							}
						}

						.smtp-disabled {
							overflow: hidden;
					    position: relative;
							&::after {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: rgba($white, 0.6);
								z-index: 1;
							}
						}
					}

					&.template_settings {
						h4 {
							&:last-of-type {
								margin: 40px 0 30px 0;
							}
						}

						.checkbox-form {
							display: none;
							margin-top: 15px;

							input, label {
								display: inline-block;
								vertical-align: middle;
								width: auto;
							}
							label {
								margin-left: 5px;
							}
						}
					}

				}
			}
		}

		&.is_woocommerce_active {
			form {
				.content-section {
					&.template_settings {
						.checkbox-form {
							display: block;
						}
					}
				}
			}
		}

	}
}
